@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
body {
    margin: 0; 
    overflow: hidden;
}
.container {
    position: relative;
    display: flex;
    flex:wrap;
}

#display {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
z-index: -1;
}

.ask {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 0.7rem;
    font-size: 1.6rem;
    font-family: Chilanka;

}
.box {
    margin-top:20%;
    height:300px;
    width: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.side {
    max-width: 4em;
    max-height: 4em;
    position: absolute;
    transform: translate(0%, 50%);
    border: 2px solid rgb(59, 91, 152);
}

.side::before{
	content: "\f09a";
    font-family: "Font Awesome 5 Brands";
    font-size: 2.5rem;
    color: rgb(59, 91, 152);
    position: absolute;
    top:20%;
    left: 20%;
}

.button {
    width: 10rem;
    height: 3.5rem;
    padding: 0.25rem;
    position: absolute;
    border: 2px solid #fff;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    cursor: default;
    letter-spacing: 1.2pt;
    word-spacing: 5px;
    font-weight: 500;
}
.button span {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    cursor: default;
    letter-spacing: 1.2pt;
    word-spacing: 5px;
    font-weight: 500;
}

#content {
    width: 100%;
    height: 100%;
    min-width:800px;
    min-height: 400px;
    display:block;
}